/*
 * Kaskádové styly
 * Projekt: Vzpovídky
 * Vytvořil: Janek
 */

 #login{
  position: absolute;
  z-index: 2;
  background-color: lightblue;
  margin: auto;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  width: 200px;
  height: 100px;
  text-align: center;
  border-radius: 30px;
}
